
{% extends 'base.html' %}
{% block title %}حول المنصة{% endblock %}
{% block content %}
<section class="content">
    <h2>عن إمداد صناعي</h2>
    <p>منصة سعودية تهدف إلى ربط المصانع بالموردين المحليين والدوليين، وتعزيز الكفاءة التشغيلية والتكامل الصناعي من خلال واجهة ذكية وسهلة الاستخدام.</p>
    <ul>
        <li>تمكين المصانع من إيجاد موردين موثوقين</li>
        <li>إتاحة الفرصة للموردين بعرض خدماتهم ومنتجاتهم</li>
        <li>دعم التحول الرقمي للصناعة ضمن رؤية السعودية 2030</li>
    </ul>
</section>
{% endblock %}
